:root {
  --primary-color: red;
  --secondary-color: #e3e3e3;
  --text-color-lightest: #e7e9ec;
  --text-color-darker: #2e2e2e;
  --text-color-dark: #494949;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gray: #727272;
  --text-color-light-gray: #c6c6c6;
  --backdrop-color: rgba(42, 42, 42, 0.69);
}
header {
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-content: center;
  z-index: 200;
  position: relative;
}
header .logo {
  justify-self: start;
  font-size: 24px;
  font-weight: 600;
  padding-left: 50px;
  color: var(--text-color-lightest);
}
header nav {
  justify-self: end;
}
header nav a {
  margin: 0 22px;
  color: var(--text-color-lightest);
}
header nav i {
  margin-right: 44px;
  color: var(--text-color-lightest);
}
.glide {
  position: relative;
  top: -120px;
}
.glide .glide__slides .glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glide .glide__slides .glide__slide .slide-caption {
  position: absolute;
  z-index: 70;
  color: var(--text-color-lightest);
}
.glide .glide__slides .glide__slide .slide-caption h1 {
  font-size: 55px;
  font-weight: 600;
}
.glide .glide__slides .glide__slide .slide-caption h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 50px 0;
}
.glide .glide__slides .glide__slide .slide-caption .explore-btn {
  background-color: var(--primary-color);
  cursor: pointer;
  outline: none;
  color: var(--text-color-lightest);
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  padding: 14px 30px;
}
.glide .glide__slides .glide__slide img,
.glide .glide__slides .glide__slide video {
  width: 100vw;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.glide .glide__slides .glide__slide .shade {
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}
.glide .glide__slides .glide__slide .flush-right {
  width: 100%;
  width: 80vw;
  text-align: left;
}
#about-us {
  display: grid;
  justify-items: center;
  justify-content: center;
}
#about-us section {
  max-width: 1180px;
  width: 100%;
  display: grid;
  justify-items: center;
}
#about-us section .title-one {
  font-size: 34px;
  color: var(--text-color-dark);
}
#about-us section .title-one::after {
  content: "";
  display: block;
  width: 80%;
  height: 4px;
  background-color: var(--primary-color);
  margin-top: 10px;
  transform: translateX(10%);
}
#about-us section .intro {
  font-size: 15px;
  color: var(--text-color-gray);
  margin: 15px 0px 10px 0px;
}
#about-us section .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 126px;
  column-gap: 5vw;
}
#about-us section .features .feature {
  display: grid;
  grid-template-areas: "icon title" "icon content";
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 2fr;
}
#about-us section .features .feature i.fas {
  grid-area: icon;
  font-size: 30px;
  color: var(--primary-color);
  justify-items: center;
  line-height: 70px;
}
#about-us section .features .feature .feature-title {
  grid-area: title;
  font-size: 18px;
  color: var(--text-color-darker);
}
#about-us section .features .feature .feature-content {
  grid-area: content;
  color: var(--text-color-gray);
  margin-top: -8px;
}
#showcases {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fbfb;
  padding-top: 40px;
}
#showcases section {
  display: grid;
  justify-items: center;
}
#showcases section .filter-btns {
  margin: 17px 0 20px 0;
  color: white;
  font-size: 15px;
}
#showcases section .filter-btns button {
  outline: none;
  padding: 8px 17px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 10px;
  transform: 1s;
  font-weight: 500;
}
#showcases section .filter-btns .active {
  background-color: var(--primary-color);
  color: var(--text-color-lightest);
}
#showcases section .filter-btns .filter-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color-lightest);
}
#showcases section .cases {
  width: 100vw;
}
#showcases section .cases .case-item {
  width: 20vw;
  height: 15vw;
}
#showcases section .cases .case-item img {
  height: 100%;
  object-fit: cover;
}
#service {
  max-width: inherit;
  display: grid;
  justify-items: center;
  padding: 40px;
}
#service .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 3vw;
  max-width: 1180px;
  padding-top: 30px;
}
#service .services .service-item {
  display: grid;
  grid-template-areas: "icon title" "icon content";
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: #494949;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
  padding: 0 24px;
  margin-bottom: 20px;
}
#service .services .service-item .fas {
  grid-area: icon;
  font-size: 34px;
  color: var(--primary-color);
  line-height: 78px;
}
#service .services .service-item .service-title {
  grid-area: title;
  font-size: 20px;
  color: var(--text-color-darker);
}
#service .services .service-item .service-content {
  grid-area: content;
  margin-top: 8px;
  color: var(--text-color-gray);
}
#team-intro {
  max-width: inherit;
  padding: 30px 0 82px 20px;
}
#team-intro .section-bg {
  display: grid;
  justify-content: center;
}
#team-intro .section-bg .title1 {
  text-align: center;
}
#team-intro .section-bg .team-members {
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 44px;
  padding-top: 32px;
  justify-content: center;
}
#team-intro .section-bg .team-members .team-member {
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 28px;
  transition: 0.5s;
  display: grid;
  justify-content: center;
  border-radius: 12px;
}
#team-intro .section-bg .team-members .team-member:hover {
  transform: translateY(-5%);
}
#team-intro .section-bg .team-members .team-member .profile-image {
  overflow: hidden;
}
#team-intro .section-bg .team-members .team-member .profile-image img {
  width: 100%;
  height: 264px;
  object-fit: cover;
  object-position: top center;
}
#team-intro .section-bg .team-members .team-member .name {
  margin: 20px 0 10px 0;
  color: var(--text-color-dark);
  font-weight: 800;
  font-size: 18px;
}
#team-intro .section-bg .team-members .team-member .position {
  color: var(--text-color-dark-gray);
  margin: 12px 0 21px 0;
}
#team-intro .section-bg .team-members .team-member .social-links {
  display: flex;
  justify-content: space-between;
  padding: 0 62px;
}
#team-intro .section-bg .team-members .team-member .social-links li {
  list-style-type: none;
  margin: 0 10px;
}
#team-intro .section-bg .team-members .team-member .social-links li i {
  color: var(--text-color-dark-gray);
}
footer {
  max-width: inherit;
  background-color: var(--text-color-darker);
  display: flex;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 24px;
  color: var(--text-color-light-gray);
}
footer .footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}
footer .footer-menus p,
footer .footer-menus li {
  margin-top: 10px;
}
footer .footer-menus .menu-title {
  margin-bottom: 20px;
  color: var(--text-color-lightest);
  font-weight: 800;
}
footer .footer-menus .contact-us {
  margin-left: 20px;
}
footer .footer-menus .footer-menu .menu-items {
  list-style-type: none;
  margin-left: -40px;
}
footer .footer-menus .footer-menu .menu-items a {
  text-decoration: none;
  color: var(--text-color-light-gray);
}
.foots {
  background-color: var(--text-color-darker);
  margin-top: -20px;
  height: 80px;
  text-align: center;
}
.foots .icp-info,
.foots .rights {
  grid-column: -1;
  color: white;
}
.foots .scroll-to-top a {
  display: flex;
  position: fixed;
  bottom: 60px;
  right: 45px;
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.foots .scroll-to-top a i {
  color: white;
}
