* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}


:root {
  --primary-color: red;
  --secondary-color: #e3e3e3;
  --text-color-lightest: #e7e9ec;
  --text-color-darker: #2e2e2e;
  --text-color-dark: #494949;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gray: #727272;
  --text-color-light-gray: #c6c6c6;
  --backdrop-color: rgba(42, 42, 42, 0.69)
}

img {
  width: 100%;
}


header {
  width: 100vw;
  height: 80px;
  position: relative;
  display: grid;
  /* 列宽 */
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-around;
  z-index: 200;
  padding: 0 50px;
}

.logo {
  font-size: 24px;
  color: var(--text-color-lightest);
  font-weight: 600;
  justify-self: start;
}

header nav {
  justify-self: end;
}

header nav i {
  color: var(--text-color-lightest);
}

header nav a {
  text-decoration: none;
  color: var(--text-color-lightest);
  margin: 0 22px;
}

/* 轮播组件 */
.glide {
  position: relative;
  top: -90px;
  /* z-index: 80; */
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide img,
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.slide-caption {
  position: absolute;
  z-index: 70;
  color: var(--text-color-lightest);
}

.slide-caption h1 {
  font-size: 54px;
  font-weight: 600;
}

.slide-caption h3 {
  margin: 50px 0;
}

/* 遮罩 */
.backup {
  background-color: var(--backdrop-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
}

/* 设置好看的按钮 */
.explore-btn {
  padding: 14px 32px;
  border-radius: 4px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-color-lightest);
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.fontsize {
  width: 80vw;
  text-align: left;
}

/* 内容区域,通用样式 */
#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  justify-items: center;
  max-width: 1180px;
}

.title1 {
  font-size: 34px;
  color: var(--text-color-dark);
}

/* 设置下划线 */
.title1::after {
  content: "";
  display: block;
  width: 80%;
  height: 4px;
  background-color: var(--primary-color);
  margin-top: 10px;
  transform: translateX(10%);
}

.intro {
  font-size: 15px;
  color: var(--text-color-gray);
  margin: 15px 0px 10px 0px;
}

/* !!!!这个完全涉及到了栅格布局 */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 126px;
  /* 设置表格空隙 */
  column-gap: 5vw;
}

.feature {
  display: grid;
  grid-template-areas: "icon title""icon content";
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 60px 1fr;

}

.feature i.fas {
  grid-area: icon;
  font-size: 34px;
  color: var(--primary-color);
}

.feature-title {
  grid-area: title;
  font-size: 18px;
  color: var(--text-color-darker);
}

.feature-content {
  color: var(--text-color-gray);
  grid-area: content;
  margin-top: 8px;
}

/* 成功案例 */
.showcases {
  max-width: inherit;
  padding-top: 70px;
  /* background-color: var(--text-color-lightest); */
}

.section-bg {
  position: relative;
}

.section-bg::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f9fbfb;
  /* background-color: red; */
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.filter-btns {
  margin: 30px 0 20px 0;
  font-size: 12px;
}

.filter-btns button {
  outline: none;
  padding: 10px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 10px;
  transform: 1s;

}

.filter-btns:focus,
.filter-btns:active {
  outline: none;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color-lightest);
}

.showcases .cases {
  width: 100vw;
}

.showcases .case-item {
  width: 25vw;
  height: 20vw;
}

.case-item img {
  height: 100%;
  object-fit: cover;
}

#service {
  max-width: inherit;
  padding: 100px 0 0 20px;

}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 126px;
  /* 设置空隙 */
  column-gap: 3vw;
  max-width: 1170px;
}




.service-item {
  display: grid;
  grid-template-areas: "icon title""icon content";
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 60px 1fr;
  /* 设置边框阴影 */
  box-shadow: #494949;
  box-sizing: border-box;
  padding: 24px;
  /* 设置边框阴影 */
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
}

.service-item i.fas {
  grid-area: icon;
  font-size: 34px;
  color: var(--primary-color);
}


.service-item .feature-title {
  grid-area: title;
  font-size: 18px;
  color: var(--text-color-darker);
}

.service-item .feature-content {
  color: var(--text-color-gray);
  grid-area: content;
  margin-top: 8px;
}

/* 公司团队 */
#team-intro {
  max-width: inherit;
  padding: 100px 0 52px 20px;
}

.team-members {
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 44px;
  padding-top: 52px;
  justify-content: center;
}

.team-member {
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 28px;
  transition: 0.5s;
  display: grid;
  justify-content: center;
  border-radius: 12px;
}

.team-member:hover {
  transform: translateY(-5%);
}

.team-member .profile-image {
  overflow: hidden;

}

.profile-image img {
  width: 100%;
  height: 264px;
  object-fit: cover;
  object-position: top center;
}

.team-member .name {
  margin: 20px 0 10px 0;
  color: var(--text-color-dark);
  font-weight: 800;
  font-size: 18px;
}

.team-member .position {
  color: var(--text-color-dark-gray);
  margin: 12px 0 21px 0;
}

.team-member .social-links {
  display: flex;
  justify-content: center;
}

.social-links li {
  list-style-type: none;
  margin: 0 10px;
}

.social-links i {
  color: var(--text-color-dark-gray);
}



/* 底部信息 */
footer {
  max-width: inherit;
  background-color: var(--text-color-darker);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 72px;
  padding-bottom: 24px;
  color: var(--text-color-light-gray);
}

.footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);

}

.contact-us {
  margin-left: 20px;
}

.menu-title {
  margin-bottom: 20px;
  color: var(--text-color-lightest);
  font-weight: 800;

}

p {
  margin-top: 10px;
}

.menu-items a {
  text-decoration: none;
  color: var(--text-color-light-gray);
}

.icp-info {
  margin: 20px 0 16px 0;
}

.icp-info,
.rights {
  grid-column: 1/-1;
  justify-self: center;
  color: white;
}

.scroll-to-top a {
  display: flex;
  position: fixed;
  bottom: 60px;
  right: 45px;
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

.scroll-to-top i {
  color: white;
}